@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.App, .inputs, .todo-list, .todo{
  display: flex;
}
.App{
  justify-content: center;
  align-items: center;
}
.App{
  background: linear-gradient(45deg, #7400B8, #6930C3, #5E60CE, #5390D9, #4EA8DE);
  height: 100vh;
}
.main{
  background-color: #FFF;
  width: auto;
  height: auto;
  padding: 2rem;
  border-radius: .5rem;
}
.inputs, .todo{
  border-bottom: #CCC 1px solid;
  padding-bottom: 1rem;
}
.inputs,.todo-list{
  gap: 1rem;
}
.inputs input{
  width: 70%;
  font-size: 1rem;
}
.inputs button{
  width: 30%;
}
.inputs input, .inputs button{
  border: #7400B8 1px solid;
  outline: none;
  padding: .8rem;
  border-radius: .2rem;
}
.inputs button{
  background: linear-gradient(45deg, #7400B8, #6930C3, #5E60CE);
  color: #FFF;
  cursor: pointer;
  border: none;
  transition: .25s;
}
.inputs button:hover{
  filter: brightness(120%);
}
.todo-list{
  flex-direction: column;
  margin-top: 1rem;
}
.todo{
  justify-content: space-between;
  gap: 3rem;
}
.options{
  position: relative;
}
.options img, .todo-options img{
  width: 1rem;
  cursor: pointer;
}
.todo-options{
  position: absolute;
  background-color: #FFF;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,.2);
  list-style: none;
  width: 7rem;
  padding:.5rem 0;
  z-index: 1;
  top: 5%;
  right: 0;
  transform: scale(0);
  transition: .25s;
  transform-origin: top right;
}
.todo-options.show{
  transform: scale(1);
}
.todo-options li{
  margin-bottom: .2rem;
  padding: .5rem 1rem;
  cursor: pointer;
}
.todo-options li:hover{
  background-color: #CCC;
}